{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger {
    display: none;            /* oculta o menu para tamanho maiores de tela */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

/*  classe que cria as barrinha do menu */
.bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ddd;
}

main {
    padding: 2rem;
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    .hamburger {
        display: flex;  /* Devolve a visualização do menu */
    }
   
    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90% -10%);
        transition: clip-path 0.5s ease-in-out;
        pointer-events: none;
    }
   
    .nav-menu.active {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
   
    .nav-item {
        margin: 1rem 0;
    }
   
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
   
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
   
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}