.form{
    border: 1px solid #ccc;

}

input,textarea {
    width: 100%;/*alterado para preencher a largura do formulario*/
    margin-bottom: 15px;/*aumento o espaçamento entre os cxampos */ 
    padding: 10px;
    border: 2px solid #cab9b9;
    border-radius: 5px;
    box-sizing: border-box;/*garante que o padding não aumente a largura*/
}

.contato{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
}

.titulo-formulario{
    text-align: center;
    margin-bottom: 20px;
}
#contactform input,
#contactform button{
    width: 100px;
    padding: 10px;
    margin-bottom: 15px; /*espaço entre as caixas de texto */
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contactform button{
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
#contactform button:hover{
    background-color: #0056b3;

}
/*inicio da formatação doa viso da LGPD no formulario */
.checkbox-container {
    background-color: rgb(195,210,219);
    display: flex;
    align-items: center;
    padding: 2px;/*ajuste o -pádding conforme necessario*/
}
.verifica{
    display: flex;
}

.checkbox-container input[ type="checkbox"] {
    margin: 0 2px 0 0;/*ajusta a espaço apenas á direita do chekbox*/
    transform: scale(1.5);
}

