*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f4f4f4;

}



header{

background:#d62828;

color:white;

text-align:center;

padding:30px;

}



section{

width:90%;

max-width:800px;

margin:30px auto;

}



.produto,
.carrinho,
.pagamento,
.estoque{


background:white;

padding:20px;

margin:15px;

border-radius:10px;

box-shadow:0 2px 8px #ccc;


}



button{


background:#d62828;

color:white;

border:none;

padding:10px;

border-radius:5px;

cursor:pointer;

margin-top:10px;


}



button:hover{

background:#a00000;

}



input,
select{


width:100%;

padding:10px;

margin:10px 0;


}



footer{

background:#222;

color:white;

text-align:center;

padding:15px;

}

