body{
    font-family: Arial,sans-serif;
    background: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(233, 89, 178);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0 ,0.2);
    text-align: center;
    width: 300px;
}

h1{
    margin-bottom: 15px;
}

input{
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid rgb(216, 81, 149);
    border-radius: 8px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #f3eff1;
    color: rgb(247, 54, 144);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #020202;
}

#resultado {
    margin-top: 20px;
    text-align: left;
}

