.covite{
    background: linear-gradient(rgba(100,149,237,0.5), rgba(100,149,237,0));
    text-align: left;
    width: 63%;
    height: auto;
    font-size: 25px;
    padding: 20px;
    border: 2px solid rgb(0,102,255);
    border-radius: 15px;
    margin: 0 auto; /*centralizar horizontalmente */
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

}

